In [4]:
import pandas as pd

df = pd.read_csv("/Users/mayraberrones/Downloads/anual.csv")

In [5]:
df.head(2)

,Unnamed: 0,Unnamed: 1,Enero,Unnamed: 3,Febrero,Unnamed: 5,Marzo,Unnamed: 7,Abril,Unnamed: 9,...,Agosto,Unnamed: 17,Septiembre,Unnamed: 19,Octubre,Unnamed: 21,Noviembre,Unnamed: 23,Diciembre,Unnamed: 25
0,AÑO,Codigo,Prod.,Venta,Prod.,Venta,Prod.,Venta,Prod.,Venta,...,Prod.,Venta,Prod.,Venta,Prod.,Venta,Prod.,Venta,Prod.,Venta
1,2014,A1,"97,964",-,"10,746",-,"91,992",-,"50,939",-,...,"40,331",-,"67,834",-,"114,278",-,"96,302",-,"138,671",-

In [7]:
len(df)

1760

In [ ]:
for i in range (0, len(df)):